.ita-btn {
  min-height: 36px;
  padding: 6px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: white;
  border: none;
  border-radius: 26px;
  background: var(--green);

  transition: color .25s ease, background-color .25s;
}

.ita-btn:hover,
.ita-btn:focus {
  color: white;
  background: var(--dark-green);
}

.ita-btn._text {
  background: transparent;
  color: var(--blue);
  outline: none;
  box-shadow: none;
}

.ita-btn._text svg {
  fill: var(--blue);
  transition: fill .25s ease;
}

.ita-btn._text:hover {
  color: var(--dark-blue);
}

.ita-btn._text:hover svg {
  fill: var(--dark-blue);
}

.ita-btn._text::after {
  display: none;
}

.ita-btn._back {
  font-size: 12px;
}

.ita-btn._back svg {
  margin-right: 12px;
}

.ant-form-item {
  margin-bottom: 12px;
}
