@import url('./app/styles/variables.css');
@import url(./app/styles/form.css);

.ant-layout-sider-dark {
  min-width: 250px !important;
  width: 250px !important;
}

.ant-layout-sider-collapsed {
  min-width: 50px !important;
  width: 50px !important;
}

.ant-layout-sider-trigger {
  width: 250px !important;
}

.ant-layout-sider-collapsed .ant-layout-sider-trigger {
  width: 78px !important;
}

.loader {
  position: absolute;
  top: 50%;
  left: calc(50% + 100px);
  transform: translate(-50%, -50%);
}
