.DS_Store

# dotnet core
bin/
obj/

api/wwwroot/**
!api/wwwroot/scratch.html
!api/wwwroot/favicon.ico

# Ignore DB Snapshot
.vscode/launch.json
.vscode/tasks.json
/intern-track-back/Migrations/ApplicationDbContextModelSnapshot.cs
report.*.*.*.*.*.json

# node
node_modules/
typings/
npm-debug.log

# client-react
client-react/components/*.js
client-react.test/build
!client-react.test/build/client-react/styles/

# ops
ops/hosts
ops/config.yml
ops/*.retry

# other
*.js.map

# IDE
.idea/
.vs/