.vacanciesPage header {
  display: flex;
  margin-bottom: 24px;
}

.vacanciesPage h2 {
  margin-left: 120px;

  font-size: 24px;
  line-height: 36px;
  font-weight: lighter;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--pink-dark);
}

.vacancies {
  margin-top: 24px;
}

.descTitle {
  margin-right: 6px;

  font-weight: 500;

  color: var(--pink);
}

.vacancies .ant-card-head-title {
  color: var(--dark-blue);
}

.recordingTitle {
  margin-top: 24px;
  margin-left: 0 !important;

  font-size: 18px !important;

  color: var(--dark-blue) !important;
}
.add-record {
  margin: 24px 0;
}
